<div id="sign-up-container" class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row justify-content-center">
    <div class="registration-box p-4">
      <h1 class="mb-4">Efetuar cadastro</h1>

      <form>
        <div class="mb-3">
          <input type="text"
                 class="form-control custom-input"
                 placeholder="Seu nome completo"
          >

          <div class="mb-3">
            <input type="email"
                   class="form-control custom-input"
                   placeholder="Seu melhor e-mail"
            >

            <div class="mb-3">
              <input
                class="form-control custom-input"
                placeholder="Sua senha" type="password"
              >
            </div>


            <button type="submit" class="btn btn-danger w-100 custom-button mb-3">
              Cadastrar-se
            </button>

            <div class="text-center old-here">
              <span class="text-white">Já tem uma conta?</span>
              <a href="/login" class="text-danger text-decoration-none ms-2">
                Faça Login
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
