.body-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

#header {
  height: 20%;
  width: 100%;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 250px;
  height: 50px;
  color: #E50914;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#create-movie-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

#create-movie-container > div {
  width: 100%;
}

.registration-box {
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 80%;
  padding: 40px 70px 40px 70px !important;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  font-family: arial, serif;
}

.form-container:after{
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.form-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  float: left;
  height: 80%;
}

.custom-input {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 16px;
  width: 90%;
  height: 70px;
  font-size: 1.2rem;
  margin-bottom: 20px !important;
}

.custom-input:focus{
  background-color: #454545;
  color: #fff;
  box-shadow: none;
  border: none;
}

.custom-input::placeholder {
  color: #8c8c8c;
}

.form-select {
  appearance: none;
  color: #8c8c8c;
}

.selected{
  display: none;
}

.form-select:focus{
  color: #fff;
}

.form-select > option{
  color: #8c8c8c;
}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-button {
  width: 40% !important;
  background-color: #E50914;
  border: none;
  padding: 16px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 24px;
}

.custom-button:hover {
  background-color: #c11119;
}

.error-message {
  color: #e50914;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {

  #create-movie-container{
    height: 84%;
    align-items: center;
  }

  .registration-box{
    width: 90%;
    max-width: 400px;
    padding: 0 20px !important;
    border-radius: 20px;
  }

  .form-item{
    width: 100%;
  }

  .form-control, .form-select{
    font-size: 1rem;
  }

  .custom-button{
    width: 80% !important;
    font-size: 1.2rem;
  }

  .text-white{
    height: 100px;
  }
}

@media (max-width: 768px) {
  #header {
    height: 16%;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: auto;
    font-size: 1.5rem;
    height: 40px;
  }

  #create-movie-container{
    height: 84%;
    align-items: center;
  }

  .form-container:after{
    display: flex;
  }

  .registration-box{
    width: 90%;
    max-width: 400px;
    padding: 0 20px !important;
    border-radius: 20px;
  }

  h1{
    font-size: 1.2rem;
  }

  .form-item{
    width: 100%;
  }

  .form-control, .form-select{
    font-size: 1rem;
  }

  .custom-button{
    width: 80% !important;
    font-size: 1.2rem;
  }

  .text-white{
    height: 100px;
  }
}
