<div class="body-container">
  <div id="header">
    <div class="logo">DataMovie</div>
  </div>

  <div id="create-movie-container" class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center">
      <div class="registration-box p-4">
        <h1 class="mb-4">Cadastre seu filme aqui</h1>

        @if (errorMessage) {
          <div class="alert alert-danger"> {{ errorMessage }}</div>
        }

        @if (successMessage) {
          <div class="alert alert-success"> {{ successMessage }}</div>
        }



        <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
          <div class="form-container">
            <div class="form-item">
              <input type="text"
                     id="title"
                     class="form-control custom-input"
                     placeholder="Film title"
                     name="title"
                     [(ngModel)]="movie.title"
                     required
                     #title="ngModel">
              @if (title.invalid && (title.dirty || title.touched)) {
                <div class="text-danger">Title is required</div>
              }
            </div>

            <div class="form-item">
              <input type="text"
                     id="description"
                     class="form-control custom-input"
                     placeholder="Description"
                     name="description"
                     [(ngModel)]="movie.description"
                     required
                     #description="ngModel">
              @if (description.invalid && (description.dirty || description.touched)) {
                <div class="text-danger">Description is required</div>
              }</div>

            <div class="form-item">
              <input type="date"
                     id="releaseDate"
                     class="form-select custom-input"
                     placeholder="Release date"
                     name="releaseDate"
                     [(ngModel)]="movie.releaseDate"
                     required
                     #releaseDate="ngModel">
              @if (releaseDate.invalid && (releaseDate.dirty || releaseDate.touched)) {
                <div class="text-danger">Release date is required</div>
              }
            </div>

            <div class="form-item">
              <input type="number"
                     id="rating"
                     class="form-control custom-input"
                     placeholder="Rating"
                     name="rating"
                     [(ngModel)]="movie.rating"
                     required
                     #rating="ngModel">
              @if (rating.invalid && (rating.dirty || rating.touched)) {
                <div class="text-danger">Rating must be between 0 and 10</div>
              }
            </div>

            <div class="form-item select-test">
              <select class="form-select custom-input"
                      id="category"
                      name="category"
                      [(ngModel)]="selectedCategoryId"
                      required>
                <option [ngValue]="0" disabled class="selected" selected>Wich category?</option>
                @for (category of availableCategories; track category.id) {
                  <option [value]="category.id"> {{ category.name }}</option>
                }
              </select>
            </div>

            <div class="form-item">
              <select class="form-select custom-input"
                      id="streaming"
                      name="streaming"
                      [(ngModel)]="selectedStreamingId"
                      required>
                <option [ngValue]="0" disabled class="selected" selected>Where is available?</option>
                @for (streaming of availableStreamings; track streaming.id) {
                  <option [value]="streaming.id"> {{ streaming.name }}</option>
                }
              </select>
            </div>

            <div class="form-submit">
              <button type="submit" class="btn btn-danger w-100 custom-button mb-3" [disabled]="movieForm.invalid">
                Create new movie
              </button>
            </div>
          </div>
        </form>
      </div>

      <a [routerLink]="'/'" class="text-white text-decoration-none ms-2">Back</a>
    </div>
  </div>
</div>
