<div id="sign-in-container" class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row justify-content-center">
    <div class="login-box p-4">
      <h1 class="mb-4">Entre na sua conta</h1>

      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-3">
          <input type="email"
                 id="email"
                 class="form-control custom-input"
                 placeholder="E-mail"
                 name="email"
                 [(ngModel)]="user.email"
                 required
                 email
                 #email="ngModel">
          @if (email.invalid && (email.dirty || email.touched)) {
            <div class="error-message">
              @if (email.errors?.['required']) {
                <div>Email é obrigatório.</div>
              }
              @if (email.errors?.['email']) {
                <div>Email inválido.</div>
              }
            </div>
          }
          <div class="mb-3"></div>

          <div class="mb-3">
            <input
              type="password"
              id="password"
              class="form-control custom-input"
              placeholder="Sua senha"
              name="password"
              [(ngModel)]="user.password"
              required
              #password="ngModel">
            @if (password.invalid && (password.dirty || password.touched)) {
              <div class="error-message">
                @if (password.errors?.['required']) {
                  <div>Senha é obrigatória.</div>
                }
              </div>
            }
          </div>

          @if (errorMessage){
            <div class="error-message">{{errorMessage}}</div>
          }

          <button type="submit" class="btn btn-danger w-100 custom-button mb-3">
            Entrar na conta
          </button>

          <div class="text-center mb-4">
            <a [routerLink]="'/register'" class="text-white text-decoration-none forgot-password">
              Esqueci minha senha
            </a>
          </div>

          <div class="text-center new-here">
            <span class="text-white">Novo por aqui?</span>
            <a [routerLink]="'/register'" class="text-danger text-decoration-none ms-2">
              Assine agora
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
